<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drustvene mreze</title>
    <link rel="stylesheet" href="./restaurant-map.component.scss">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/index.html">Home</a></li>
            <li class="nav-item" id="restaurants"><a href="/restaurants/pages/restaurants/restaurants.html">Restaurants</a></li>
            <li class="nav-item" id="restaurants-map"><a class="nav-active" href="/restaurants/pages/restaurant-map/restaurant-map.component.html">Map</a></li>
            <li class="nav-item" id="guide-tours"><a href="/tours/pages/preview/tours.html">My Tours</a></li>
            <li class="nav-item" id="tours-catalog"><a href="/tours/pages/toursCatalog/toursCatalog.html">Tours</a></li>
            <li class="nav-item" id="user-reservations"><a href="/users/pages/userReservations/userReservations.html">Reservations</a></li>
            <li class="nav-item" id="login"><a href="/users/pages/login/login.html">Login</a></li>
            <li class="nav-item" id="logout"><a href="/index.html">Logout</a></li>
        </ul>
    </nav>

    <div id="map"></div>



    <script type="module" src="/authentication/auth.ts"></script>
    <script type="module" src="./restaurant-map.component.ts"></script>
</body>
