@use '../../../styles/global.scss' as *;
@use '../../../tours/pages/preview/tours.scss';
@use "sass:color";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.cancelable {
  background-color: $warn-color;
}

.uncancelable {
  background-color: #9c9c9c;
  color: white;
  &:hover {
    cursor: default;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center !important;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.modal-header {
  margin: 0px;
  height: 70px;
  padding: 0px 20px;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid color.adjust($primary-color,$lightness: -10%);
}

.close-button {
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  z-index: 999999999;

  &:hover {
    color: color.adjust(white,$lightness: 20%);
  }
}

#ratingForm{
  position: relative;
  width: 60%;
}

#comment{
  width: 100%;
  height: 9rem;
}